.btn:hover{
    box-shadow: 0px 4px red;
    top: 2px;
}
.btn:active {
    box-shadow:none;
    top: 6px;
}

.btn,#file,#fp,#divTotalSize{
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: blueviolet;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 25px 40px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 6px red;
}
#heading {
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    color:white;
}
body {
    background-color: blue;
}
@keyframes description {
    0%{
        opacity: 100;
    }
    50%{
        opacity: 0;
    }
}
#description {
    animation-name: description;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    color: white;
    font-size: 70px;
    text-align:center;
}
